Q1: You are working in a bank, and you have been given two lists of the employees who worked in 2021. Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita. Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.

In [ ]:
#1st way
e1={"Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"}
e2={"Ali","Mukesh","Mahesh","Jacob","Sai","Sarita"}

In [ ]:
e1.intersection(e2) #1st Way

{'Ali', 'Jacob', 'Mahesh'}

In [ ]:
#2nd way
e1={"Ramesh","Suresh","Mahesh","Ali","Jacob","Saritha"}
e2={"Ali","Mukesh","Mahesh","Jacob","Sai","Sarita"}
for i in e1:
  for j in e2:
    if i==j:                    #comparing whether employee in e1 are also present in e2
      print(i)                  #printing required output

Ali
Jacob
Mahesh

In [ ]:
n=int(input())
if n>90:
  grade='A'
elif 80 >= n<90:
  grade='B'
else:
  grade='C'
print("Grades :",grade)

95
Grades : A

Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and converts them into a list. Once converted into a list, please write a program that adds their age.



Ramesh:  25

Suresh: 22

Mohit: 26

In [ ]:
a="Ramesh Suresh Mohit"
c=a.split() # split above string print(c)
print(c)
age={'Ramesh':25,'Suresh':22,'Mohit':26}
total_age = 0 #intialise total_age
for i in age: total_age=total_age+age[i]
print("Total Age: ",total_age) # Printing total age after calculating total_age

['Ramesh', 'Suresh', 'Mohit']
Total Age:  73

In [ ]:
print(c)

['Ramesh', 'Suresh', 'Mohit']

In [ ]:
t=" ".join(c)
t

'Ramesh Suresh Mohit'

In [ ]:
p=t.split()
p

['Ramesh', 'Suresh', 'Mohit']

a="Ramesh Suresh Mohit" c=a.split() # split above string print(c)

age={'Ramesh':25,'Suresh':22,'Mohit':26} total_age = 0 #intialise total_age for i in age: total_age=total_age+age[i] print("Total Age: ",total_age) # Printing total age after calculating total_age

In [ ]:
print(c)

1

Q3: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin, and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49, and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, the total cost of all medicine, and how much money you refunded to the patient.

In [ ]:
p=2*35
azi=3*49
vitc=5*33
total_cost=p+azi+vitc    # adding total cost
refund=2000-total_cost    # calculating refund amount
print("Total Cost of paracetamol:",p)     #printing Total Cost of paracetamol
print("Total cost of azithromycin:",azi)  #printing Total cost of azithromycin
print("Total cost of vitamin c:",vitc)    #printing Total cost of vitamin c
print("Total cost of all medicine",total_cost)  # priting Total cost of all medicine
print("Money refunded to patient",refund)     # printing money refunderd to patient

Total Cost of paracetamol: 70
Total cost of azithromycin: 147
Total cost of vitamin c: 165
Total cost of all medicine 382
Money refunded to patient 1618

Q4: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example, I am learning python contains 6 vowels. This function should be applicable for all other different sentences.

In [ ]:
str=input("Enter a string!!! ")
v_counter=0                              #intialise counter
for i in str:
  if i.lower() in 'aeiou':               # lowering the entered string into lower case and checking for vowels
    v_counter=v_counter+1                #increment counter

print("Total number of vowels in above sentence is: ",v_counter)     #printing the total vowels available

Enter a string!!! Hello how are you
Total number of vowels in above sentence is:  7

Q5: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible, your output should be ‘Congrats! You are eligible’; otherwise, it should tell that you have to return after X number of years. The eligibility criteria for voting is 18 years.
For example, If someone is 18 or above, your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years, it should print output as ‘return after 3 years’.

In [ ]:
age=int(input("Enter Your age !!"))
if age<18:                             # checking whether age is less than 18 or not
  a=18-age
  print(f"return after {a} years")     # printing return after years
else:
  print(f'Congrats! You are eligible')    #printing if he is eligible for vote

Enter Your age !!14
return after 4 years

Q6: Given a list of integers, find the cumulative sum of the elements of the list and store them in another list.



A = [1, 2, 3, 4, 5]



Output:

[1, 3, 6, 10, 15]

In [ ]:
list=[1,2,3,4,5]
new_list=[]                           # creating new list
j=0
for i in range(0,len(list)):
    j=j+list[i]
    new_list.append(j)                # appending j items into new list

print(new_list)                       # printing the new list

[1, 3, 6, 10, 15]

Q7:

WAP to encode a message entered by user as per below conditions:



for every word in the sentence,

1. If the word starts with a vowel, encode it as the first and last letter of the word.

2. If the word starts with a consonant, remove all vowels from it.



Ensure the case insensitive comparisons/checks are performed.



Please enter your text:The quick brown fox used to sleep inside this box

Encoded Msg: Th qck brwn fx ud t slp ie ths bx

Q8:

Write a program to implement run length encoding of a string



RLE:Consecutive repetition of a character has to be replaced with the count of occurrences and the character.



Enter your string :aabbbccdddae

Encoded: 2a3b2c3d1a1e

In [ ]:
s=input('enter string: ')
previous=s[0]             # assigning first chracter of string to previous
output=''               # intialise  output
c=1
i=1
while i<len(s):       #checking length of string entered
  if s[i]==previous:  # matching character to previous
    c=c+1             # increment counter
  else:
    output=output+str(c)+previous      #adding character to output
    previous=s[i]
    c=1
  if i==len(s)-1:                     # checking last chracter
    output=output+str (c)+previous     # adding it to  output
  i=i+1
print(output)                         #printing final output

enter string: aabbbccdddae
2a3b2c3d1a1e